@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CombatGame.Models.Character
@{
}
@Model.Name
<table class="table">
    <thead>
        <tr>
            <td colspan="2">HP</td>
            <td colspan="2">Defense</td>
            <td colspan="2">Strength</td>
            <td colspan="2">Agility</td>
            <td colspan="2">Intelligence</td>
            <td colspan="2">Move</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">@Model.HP</td>
            <td colspan="2">@Model.Defense</td>
            <td colspan="2">@Model.Strength</td>
            <td colspan="2">@Model.Agility</td>
            <td colspan="2">@Model.Intelligence</td>
            @foreach (CombatGame.Models.Moves c in ViewBag.move)
            {
                <td colspan="2">@c.Name</td>
            }
        </tr>
    </tbody>
</table>